{% extends "main/layout.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="modal-body">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success w-100">Войти</button>
    </form>
</div>
{% endblock %}
